# Frontend environment variables (Create React App requires REACT_APP_ prefix)
#
# Set one of the following to point to the backend service:
# - If you set to the backend root, "/api" will be appended automatically.
# - If you set to ".../api", it will be used as-is.
#
# Examples:
# REACT_APP_API_BASE=http://localhost:3010
# REACT_APP_API_BASE=http://localhost:3010/api
# REACT_APP_BACKEND_URL=http://localhost:3010

REACT_APP_API_BASE=
REACT_APP_BACKEND_URL=
